ad3==2.0.2
alabaster==0.7.10
apipkg==1.4
appdirs==1.4.3
appnope==0.1.0
argon2-cffi==16.3.0
arrow==0.10.0
asn1crypto==0.22.0
atari-py==0.1.1
awscli==1.11.123
Babel==2.4.0
binaryornot==0.4.0
bleach==1.5.0
Box2D==2.3.1
cached-property==1.3.0
cchardet==2.0.0
cffi==1.10.0
chainer==1.18.0
Chameleon==3.1
chardet==2.3.0
check-manifest==0.35
click==6.7
cloudpickle==0.3.1
colorama==0.3.7
cookiecutter==1.5.1
cryptography==1.8.1
cvxopt==1.1.8
cycler==0.10.0
Cython==0.26
dconn==0.6.dev5
decorator==4.0.11
defusedxml==0.5.0
devpi-client==3.0.0
devpi-common==3.1.0
devpi-server==4.3.0
devpi-web==3.2.0
dill==0.2.5
docopt==0.6.2
entrypoints==0.2.3
enum34==1.1.6
execnet==1.4.1
Fabric3==1.13.1.post1
filelock==2.0.11
Flask==0.12.2
Flask-Cors==3.0.3
future==0.16.0
glfw==1.4.0
gym==0.7.4
h5py==2.7.0
html5lib==0.999
hupper==0.4.4
hyperopt==0.1
idna==2.5
imageio==2.2.0
imagesize==0.7.1
ipdb==0.10.3
ipykernel==4.6.1
ipython==6.1.0
ipython-genutils==0.2.0
ipywidgets==5.1.5
itsdangerous==0.24
jedi==0.10.2
Jinja2==2.9.6
jinja2-time==0.2.0
joblib==0.10.3
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.1.0
jupyter-console==5.1.0
jupyter-core==4.3.0
Lasagne==0.2.dev1
line-profiler==2.0
llvmlite==0.19.0
Mako==1.0.6
MarkupSafe==1.0
matplotlib==2.0.2
mistune==0.7.4
mock==2.0.0
mpi4py==2.0.0
msgpack-python==0.4.8
mujoco-py==0.5.7
mwparserfromhell==0.4.4
nbconvert==5.2.1
nbformat==4.3.0
networkx==1.11
nibabel==2.1.0
nine==1.0.0
nltk==3.2.2
nose==1.3.7
nose2==0.6.5
notebook==5.0.0
numba==0.34.0
numpy==1.13.1
numpy-stl==2.2.0
olefile==0.44
packaging==16.8
pandas==0.20.2
pandocfilters==1.4.1
paramiko==2.1.2
passlib==1.7.1
PasteDeploy==1.5.2
pbr==3.1.1
pexpect==4.2.1
pickleshare==0.7.4
Pillow==4.2.1
pkginfo==1.4.1
plotly==1.9.6
pluggy==0.4.0
polling==0.3.0
poyo==0.4.1
prettytensor==0.6.2
progressbar2==3.32.0
prometheus-client==0.0.19
prompt-toolkit==1.0.14
protobuf==3.2.0
ptyprocess==0.5.1
py==1.4.33
pycparser==2.17
pygame==1.9.2a0
pyglet==1.2.4
Pygments==2.2.0
pygpu==0.6.8
pylru==1.0.9
PyOpenGL==3.1.0
pyparsing==2.1.4
PyPrind==2.11.1
pyramid==1.8.3
pyramid-chameleon==0.3
pystruct==0.2.4
python-dateutil==2.6.0
python-Levenshtein==0.12.0
python-utils==2.2.0
pytz==2017.2
pyzmq==16.0.2
qtconsole==4.2.1
rake-nltk==1.0.0
readme-renderer==17.2
redis==2.10.5
repoze.lru==0.6
requests==2.14.2
-e git+https://github.com/btaba/rllab@90a4d95f31472bd96923c5c001ca4fa5fe5aa59c#egg=rllab
scikit-learn==0.18.2
scipy==0.19.1
seaborn==0.7.1
setupext==0.24.8
setupext-gitversion==1.1.0+sqsp
simplegeneric==0.8.1
sip==4.19.2
six==1.10.0
snowballstemmer==1.2.1
Sphinx==1.5.5
striatum==0.2.5
tensorflow==0.12.1
tensorflow-gpu==1.0.1
terminado==0.6
testpath==0.3
Theano==0.9.0
torch==0.1.9+aaf41c6
torchvision==0.1.6
tornado==4.5.1
tox==2.7.0
tqdm==4.15.0
traitlets==4.3.2
translationstring==1.3
venusian==1.1.0
virtualenv==15.1.0
vulture==0.14
waitress==1.0.2
wcwidth==0.1.7
webencodings==0.5.1
WebOb==1.7.2
Werkzeug==0.12.2
whichcraft==0.4.0
Whoosh==2.7.4
widgetsnbextension==1.2.3
zope.deprecation==4.2.0
zope.interface==4.4.0
